<footer>
    <div class="f-info">
        <div class="f-info-social">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-facebook"></i>
        </div>
        <div class="f-info-brand">&copy;; WanderLurst Privet Lim.</div>
        <div class="f-info-link">
            <a href="/privevy">Privecy</a>
            <a href="/term">Term</a>
        </div>
    </div>
</footer>