<% layout("/layouts/boilerplate") -%>

    <h3>New Listing</h3>
    <div class="row">
        <div class="col-8 offset-2">
            <form method="post" action="/listings" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="titel" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
                    <div class="invalid-feedback">Title shoulde be valid </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="enter the description" class="form-control" required></textarea>
                    <div class="invalid-feedback">Description shoulde be valid </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image URL/Link</label>
                    <input name="listing[image]" placeholder="enter image url/link" type="text" class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="enter price" type="text" class="form-control" required>
                        <div class="invalid-feedback">Price shoulde be valid </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" placeholder="country" type="text" class="form-control" required>
                        <div class="invalid-feedback">Country shoulde be valid </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" placeholder="location" type="text" class="form-control" required>
                    <div class="invalid-feedback">Location shoulde be valid </div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                        <label class="form-check-label" for="invalidCheck2">
                            Agree to terms and conditions
                          </label>
                    </div>
                </div>
                <button class="btn btn-primary">add</button>
            </form>
        </div>
    </div>